<style>
    .intro-section{
        text-align: center;
        color: aliceblue;
        padding: 20px;
    }
    .search-box{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    .product-category{
        width: 200px;
    }
    .search-input{
        width: 300px;
        background-color: rgb(19, 23, 42);
        margin-right: 10px;
        border-color: rgba(255, 255, 255, 0.5);
        color: white;
    }
    .form-control{
        background-color: transparent;
        color: white;
    }
    .form-control::placeholder{ /*Chrome, firefox,...*/
        color: rgba(255, 255, 255, 0.5);
        opacity: 1;
    }
    .form-control:-ms-input-placeholder{ /* internet explore */
        color: rgba(255, 255, 255, 0.5);
    }
    .form-control::-ms-input-placeholder{  /* microsoft edge */
        color: rgba(255, 255, 255, 0.5);
    }
    .product-item{
        background-color: rgb(19, 23, 42);
        border: 1px solid rgb(35, 39, 61);
        border-radius: 20px;
        padding: 20px;
        margin-bottom: 20px;
    }
    .product-image{
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    .product-name{
        color: white;
    }
    .product-description{
        color: rgb(173, 178, 203);
    }
    .product-warranty{
        color: rgb(242, 126, 212);
    }
    .product-price{
        color: white;
    }
    .product-rating{
        margin-top: 10px;
        color: yellow;
    }
    .product-action{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .space-x{
        margin: 0 10px;
    }
</style>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang home</h1>
        <p>Trang Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nulla enim dignissimos veniam quas earum rem dolor asperiores doloremque consequuntur officia itaque ipsa hic, laudantium amet minima voluptas totam illo.</p>
        <p>Bạn có thể vào đây mua hàng</p>
    </div>

    <!-- Đoạn này là 1 ô searchbox bên trái và 1 combobox ở bên phải -->
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
        <select class="form-control product-category">
            <option selected disabled>Danh mục sản phẩm</option>
            <option>Đồ điện tử</option>
            <option>Đồ gia dụng</option>
            <option>Bánh kẹo</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img 
                    src="https://media-cdn-v2.laodong.vn/storage/newsportal/2023/8/26/1233821/Giai-Nhi-1--Nang-Tre.jpg"
                    alt="PRoduct Image"  class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex minus ducimus perspiciatis consectetur iusto. Ducimus quas cum voluptate? At eligendi quasi quod doloribus sint minus assumenda? A similique eius fugiat.</p>
                <p class="product-warranty">Bảo hành 60 tháng.</p>
                <p class="product-price">Giá: <del>300$</del> 200$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-action">
                
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img 
                    src="https://media-cdn-v2.laodong.vn/storage/newsportal/2023/8/26/1233821/Giai-Nhi-1--Nang-Tre.jpg"
                    alt="PRoduct Image"  class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex minus ducimus perspiciatis consectetur iusto. Ducimus quas cum voluptate? At eligendi quasi quod doloribus sint minus assumenda? A similique eius fugiat.</p>
                <p class="product-warranty">Bảo hành 60 tháng.</p>
                <p class="product-price">Giá: <del>300$</del> 200$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-action">
                
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img 
                    src="https://media-cdn-v2.laodong.vn/storage/newsportal/2023/8/26/1233821/Giai-Nhi-1--Nang-Tre.jpg"
                    alt="PRoduct Image"  class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex minus ducimus perspiciatis consectetur iusto. Ducimus quas cum voluptate? At eligendi quasi quod doloribus sint minus assumenda? A similique eius fugiat.</p>
                <p class="product-warranty">Bảo hành 60 tháng.</p>
                <p class="product-price">Giá: <del>300$</del> 200$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-action">
                
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img 
                    src="https://media-cdn-v2.laodong.vn/storage/newsportal/2023/8/26/1233821/Giai-Nhi-1--Nang-Tre.jpg"
                    alt="PRoduct Image"  class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex minus ducimus perspiciatis consectetur iusto. Ducimus quas cum voluptate? At eligendi quasi quod doloribus sint minus assumenda? A similique eius fugiat.</p>
                <p class="product-warranty">Bảo hành 60 tháng.</p>
                <p class="product-price">Giá: <del>300$</del> 200$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-action">
                
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img 
                    src="https://media-cdn-v2.laodong.vn/storage/newsportal/2023/8/26/1233821/Giai-Nhi-1--Nang-Tre.jpg"
                    alt="PRoduct Image"  class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex minus ducimus perspiciatis consectetur iusto. Ducimus quas cum voluptate? At eligendi quasi quod doloribus sint minus assumenda? A similique eius fugiat.</p>
                <p class="product-warranty">Bảo hành 60 tháng.</p>
                <p class="product-price">Giá: <del>300$</del> 200$</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
                <div class="product-action">
                
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>