<style>
    .intro-section{
        text-align: center;
        color: aliceblue;
        padding: 20px;
    }
</style>
<div class="container">
    <div class="intro-section">
        <h1>Đây là trang home</h1>
        <p>Trang Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nulla enim dignissimos veniam quas earum rem dolor asperiores doloremque consequuntur officia itaque ipsa hic, laudantium amet minima voluptas totam illo.</p>
        <p>Bạn có thể vào đây mua hàng</p>
    </div>
</div>